.button{
    @include radius-sm;
    &.is-primary{
        &:visited{
            color: $white;
        }
    }
    &.is-secondary{
        color: $primary;
        background-color: transparent;
        border: 1px solid $primary;
        &:hover, &:active{
            border-color: $primary-dark;
            color: $primary-dark;
        }
    }
    &.is-dark{
        background-color: $dark;
    }
    &.is-outline-white{
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        &:active, &:hover{
            opacity: .8;
        }
    }
}