.tag.is-color1 { background-color: #FFB3BA; }
.tag.is-color2 { background-color: #FFDFBA; }
.tag.is-color3 { background-color: #FFFFBA; }
.tag.is-color4 { background-color: #BAFFC9; }
.tag.is-color5 { background-color: #BAE1FF; }
.tag.is-color6 { background-color: #FFCCCB; }
.tag.is-color7 { background-color: #F1CBFF; }
.tag.is-color8 { background-color: #D4FFEA; }
.tag.is-color9 { background-color: #E3FFBA; }
.tag.is-color10 { background-color: #FFF3BA; }
.tag.is-color11 { background-color: #BAFFEC; }
.tag.is-color12 { background-color: #D9BAFF; }
.tag.is-color13 { background-color: #FFBABA; }
.tag.is-color14 { background-color: #FFD9BA; }
.tag.is-color15 { background-color: #FFF8BA; }
.tag.is-color16 { background-color: #BAFFC9; }
.tag.is-color17 { background-color: #BAE1FF; }
.tag.is-color18 { background-color: #FFCEBA; }
.tag.is-color19 { background-color: #FFCBAE; }
.tag.is-color20 { background-color: #FFDDC1; }
.tag.is-color21 { background-color: #E6E6FA; }
.tag.is-color22 { background-color: #FFDAB9; }
.tag.is-color23 { background-color: #E0FFFF; }
.tag.is-color24 { background-color: #F0E68C; }
.tag.is-color25 { background-color: #FADADD; }
.tag.is-color26 { background-color: #FFF0F5; }
.tag.is-color27 { background-color: #F5F5DC; }
.tag.is-color28 { background-color: #FFE4E1; }
.tag.is-color29 { background-color: #FAFAD2; }
.tag.is-color30 { background-color: #D3FFCE; }
