//Card
.call-card{
    @include radius-card;
    border: 1px solid $gray-border;
    background-color: $white;
    color: $gray-dark;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    h3{
        color: $dark;
        @include font-title-strong;
        font-size: $font-size-lg;
        margin-bottom: 1.5rem;
    }
   
    
    @include tablet{
        height: 100%;
        .buttons{
            margin-top: auto;
        }
    }
}

//Detal
.call-detail{
    h1{
        margin-bottom:1rem;
    }
    h2.is-tagline{
        margin-bottom: 1rem;
        color: $gray-dark;
        @include desktop{
            max-width: 80%;
        }
    }
}

//Common components
figure.call-logo{
    background-color: $gray-bg;
    @include radius-sm;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

img{
    mix-blend-mode: multiply;
    margin: .2rem auto;
    object-fit: contain;
    aspect-ratio: 16 / 9;
    max-width: 70%;
}

.tags{
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: .5rem;
    a.tag{
        @include transition;
        font-size: $font-size-sm;
        &:hover, &:active{
            text-decoration: none;
            color: $white;
            background-color: $dark;
        }
    }
}

h4{
    color: $dark;
    text-transform: uppercase;
    font-size: $font-size-xs;
    @include font-bold;
    letter-spacing: 2px;
    margin-bottom: .25rem;
}

.field{
    margin-bottom: 1rem;
}

.related-calls{
    margin-top: 2rem;
}