.call-card{
    @include radius-card;
    border: 1px solid $gray-border;
    background-color: $white;
    color: $gray-dark;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @include desktop{
        padding: 1.5rem;
    }
    h3{
        color: $dark;
        @include font-title-strong;
        font-size: $font-size-lg;
        margin-bottom: 1.5rem;
    }
    h4{
        color: $gray-dark;
        text-transform: uppercase;
        font-size: $font-size-xs;
        @include font-bold;
        letter-spacing: 2px;
        margin-bottom: .25rem;
    }
    .field{
        margin-bottom: 1rem;
    }
    figure{
        background-color: $gray-bg;
        @include radius-sm;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    img{
        mix-blend-mode: multiply;
        margin: .2rem auto;
        object-fit: contain;
        aspect-ratio: 16 / 9;
        max-width: 70%;

    }
    .tags{
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        gap: .5rem;
        a.tag{
            font-size: $font-size-sm;
            &:hover, &:active{
                text-decoration: none;
                color: $darker;
            }
        }
    }
    @include tablet{
        height: 100%;
        .buttons{
            margin-top: auto;
        }
    }
}