:root {
accent-color: $primary;
}

*:focus{
outline: none;
}

//Select
.select, .select:not(.is-multiple):not(.is-loading)::after{
    border-color: $dark;
    border-width: 1px;
    border-radius: 0;
}



//select over ride
.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after{
    border-color: $dark;
    border-width: 1px;
    border-radius: 0;
}

// Form contacto
form.form-contacto{
    label{
        color: $white;
        @include font-regular;
    }
    .field{
        margin-bottom: 1.2rem;
        &.is-checkbox{
            margin-top: 2rem;
            a{
                color: $white;
                text-decoration: underline;
            }
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}


//Range
