html {
    scroll-behavior: smooth;
}

main.main{
    padding: 0;
    @include desktop{
        padding: 0;
    }
}

section.section{
    padding: 2rem 1rem 1rem 1rem ;
    @include desktop{
        padding-bottom: 4rem;
    }
    &.bg-gray{
        background-color: $gray-bg;
        @include desktop{
            padding-top:4rem;
        }
    }
    &.bg-primary{
        background-color: $primary;
        color: $white;
        @include desktop{
            padding-top:4rem;
        }
    }
    &.bg-primary-light{
        background-color: $primary-light;
        @include desktop{
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
    &.is-bordered{
        padding-top: 2rem;
       .container{
        padding-bottom: 2rem;
        border-bottom: 1px solid $gray-border;
       }
    }
    &.is-sticky{
        background: rgba($white, 0.85);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5.8px);
        margin: 0;
        @include radius-md;
        // all
             position: fixed;
            top: 0;
            width: 100%;
            z-index: 9;
            padding:0;
        .container{
            padding: 1rem 0;
            border: none;
        }
       }
    &.section-anchor{
        scroll-margin-top: 6rem;
    }
}



footer.footer{
    color: $white;
    background-color: $dark;
    padding: 3rem 1rem;
    @include desktop{
        padding: 4rem 0;
    }
    p{
        line-height: 140%;
    }
    a{
        &:hover, &:active{
            color: $white;
        }
    }
    h3{
        @include font-regular;
        color: $gray-medium;
        font-size: 1rem;
        letter-spacing: 0;
        margin-bottom: .5rem;
    }
    .footer-block{
        &.is-horario{
            @include desktop{
                p{
                    max-width: 26ch;
                }
            }
        }
    }
    .logo-footer{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img{
            max-width: 8rem;
            margin-top: 1rem;
            @include tablet{
                margin-top: 0;
            }
            @include desktop{
                max-width: 10rem;
            }
        }
    }
    .rrss-footer{
        display: flex;
        gap:1rem;
        flex-direction: row;
        a {
            @include transition;
            img{
                width: 20px;
                height: 20px;
                @include transition;
            }
            &:hover, &:active{
                img{
                    filter: brightness(100);
                }
            }
        }
        
    }
    .legal-list-footer{
        display: flex;
        flex-direction: row;
        gap:1rem;
        @include tablet{
            justify-content: flex-end;
        }
        li a{
            font-size: $font-size-sm;
            color: $gray-medium;
            &:hover, &:active{
                color: $white;
            }
        }
    }
}

.title-wrapper{
    padding:  0 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    @include desktop{
        flex-direction: row;
        align-items: center;
        .button{
            margin-left: auto;
        }
    }
}

// Flex specifics
.is-right-tablet{
    @include tablet{
        align-self: flex-end;
        margin-left: 0;
        text-align: right;
    }
}
.is-right-desktop{
    @include desktop{
        align-self: flex-end;
        margin-left: 0;
        text-align: right;
    }
}

.space-between-tablet{
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}


.columns.is-reverse{
    @include tablet{
        flex-direction: row-reverse;
    }
}

.space-between-col{
    @include desktop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: flex-start;
        .aligned-bottom{
            margin-top: 0;
        }
        &.is-flex-end{
            align-items: flex-end;
        }
    }
}

.columns.is-reverse-mobile{
    @include tablet{
        flex-direction: row-reverse;
    }
}


//Spacing
.p-0{
    padding: 0;
}
.pt-0{
    padding-top: 0 !important;
}
.pt-4{
    padding-top: 4rem !important;
}
.pb-3{
    padding-bottom: 3rem !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.mt-2{
    margin-top: 2rem !important;
}
.mt-4{
    margin-top: 4rem !important;
}
.mb-2{
    margin-bottom: 2rem !important;
}
.mb-3{
    margin-bottom: 3rem !important;
}
.mb-4{
    margin-bottom: 4rem !important;
}

//Gallery

.columns.is-gallery{
    .column img{
        @include radius-md;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        overflow: hidden;
        scale: 1;
        @include transition;
        outline: .5rem solid transparent;
        &:hover, &:active{
            // @include box-shadow;
            scale: 1.01;
            outline: .5rem solid $primary-light;
        }
    }
}