html {
    scroll-behavior: smooth;
}

main.main{
   @include mobile{
    background-color: $gray-bg;
   }
}

section.section{
    padding: 1.5rem 1rem;
    @include desktop{
        padding: 1.5rem 0;
    }
    &.bg-light{
        background-color: $gray-bg;
        @include desktop{
            padding-top: 3rem;
        }
    }
}

.columns.row-reverse{
    @include desktop{
        flex-direction: row-reverse;
    }
}