html {
    scroll-behavior: smooth;
}

section.section{
    padding: 1rem 1rem;
    @include desktop{
        padding: .5rem 0;
    }
    &.bg-light{
        background-color: $gray-bg;
        padding-top: 3rem;
    }
    &.bg-light-mobile{
        @include mobile{
            background-color: $gray-bg;
           }
    }
}

.columns.row-reverse{
    @include desktop{
        flex-direction: row-reverse;
    }
}